.feature {
  height: 100%;
  border: 1px solid $white-offset;
  border-radius: 3px;
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  .feature-image {
    flex: 0 0 auto;
    width: 80px;
    height: 80px;
    display: flex;
    margin-bottom: 20px;
    text-align: center;
  }
  img {
    width: 100%;
    height: auto;
  }
  .feature-title {
  }
  .feature-content {
    margin-bottom: 0;
    margin-top: auto;
  }
}

.submitto-tag {
  display: inline-block;
  background-color: #444;     // Dark gray background
  color: white;
  font-size: 0.75rem;         // Smaller than normal text
  padding: 2px 8px;
  margin-left: 0.5rem;
  border-radius: 6px;
  vertical-align: middle;
  font-weight: 500;
  line-height: 1.4;
  white-space: nowrap;
}
